@media (min-width:300px) and (max-width:780px) {
    nav ul {
        max-width: 45%;
        max-height: 50%;
    }
    .nav-heading {
        max-width: 50%;
        top:-12%;
        
    }
    div.nav-heading h1 {
     color: transparent;
    }
    div.nav-heading img {
        max-width: 80px;
    }
     li img{
        max-width: 50px;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100px;
}

.nav-heading{
    position: absolute;
    left: 8%;
    
}
.nav-heading h1 {
    letter-spacing: 1px;
    font-size: 30px;
    
}
.nav-heading img{
    width: 70px;
    vertical-align: middle;
}


ul {
    border: 1px solid white;
    border-radius: 10px;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    
  /*box-shadow: rgba(0, 0,0, 0.2)0px 5px 15px;*/ 
    
    
}

li {
    margin:1px 15px 1px 15px;
    
}

li a {
    text-decoration: none;
}

.icon img {
    width: 70px;
    height: 50px;
    transition: all 0.2s ease-in-out;
    
}

.icon img:hover{
    transform: scale(1.1);
}

